body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 15vh;
    background-color: rosybrown;
}

.links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.button {
    align-self: center;
    background-color: black;
    color: antiquewhite;
}

.sidebar {
    background-color: aquamarine;
    width: 15vw;
}

.footer {
    height: 15vh;
    background-color: cornflowerblue;
}